[MESSAGES CONTROL]
disable = missing-module-docstring,
          missing-function-docstring,
          missing-class-docstring,
          too-few-public-methods,
          no-member,
          super-with-arguments,
          duplicate-code,
          redefined-outer-name,
          import-outside-toplevel,
          invalid-name,
          redefined-builtin,
          raise-missing-from,
          cyclic-import


[FORMAT]
max-line-length = 120